CodeMetrics.Addin/Service References/Services/CodeMetrics.DataTransferObjects.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/CodeMetrics.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodeMetrics.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="TaskRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
      <xs:element minOccurs="0" name="MethodBody" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskRequest" nillable="true" type="tns:TaskRequest" />
  <xs:complexType name="TaskResult">
    <xs:sequence>
      <xs:element minOccurs="0" name="ComplexityValue" type="xs:int" />
      <xs:element minOccurs="0" name="ID" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TaskResult" nillable="true" type="tns:TaskResult" />
</xs:schema>