CodeMetrics.Addin/Service References/Services/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/CodeMetrics.DataTransferObjects" />
  <xs:element name="PerformTask">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CodeMetrics.DataTransferObjects" minOccurs="0" name="task" nillable="true" type="q1:TaskRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformTaskResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CodeMetrics.DataTransferObjects" minOccurs="0" name="PerformTaskResult" nillable="true" type="q2:TaskResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>